
#footer-div {
    background: #1976D2;
}

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #727272; }
.divider-color         { border-color: #B6B6B6; }

body { padding-top: 100px; }

#header-div {
    background-color: #1976D2;
}

#login-button {
    position:relative;
    float: right;
    color: #ffffff;
}

#redirect-button {
    text-decoration: none;
    color: #ffffff;
}

