<#import "../layout/defaultLayoutMain.ftl.html" as layout>
<@layout.defaultLayoutMain "Login page">
<script src="assets/js/login.js"></script>
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
            <#if (flash.error)??>
                <div class="alert alert-dismissable alert-danger" id="alertPanel">
                    <button type="button" class="close" data-dismiss="alert" onclick="removeAlertPanel()">×</button>
                    <strong>${i18n("user.login.userpass")}</strong> ${i18n("login.errormsg")}
                </div>

                <script type="application/javascript">
                    function removeAlertPanel() {
                        var alertPanel = document.getElementById("alertPanel")

                        if (alertPanel != null) {
                            alertPanel.parentNode.removeChild(alertPanel)
                        }
                    }
                </script>

            <#else>
                <p></p>
            </#if>
        </div>

        <div class="col-md-4">

        </div>
    </div>


    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <form method="post" class="form-horizontal" action="/login">
                <fieldset>
                    <legend>${i18n("login.legend")}</legend>
                <div class="form-group">
                <div class="form-control-wrapper">
                    <label for="userName">${i18n("login.user")}</label>
                    <input type="text" class="form-control" id="userName" name="userName" required>
                    <span class="material-input"></span>
                </div>
                <div class="form-control-wrapper">
                    <label for="userPassword">${i18n("login.pass")}</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword" maxlength="12" required>

                    <span class="material-input"></span>
                </div>

                    <input type="hidden" name="userIp" id="userIp">

                </div>

                <p>
                <button type="submit" class="btn btn-material-blue">login</button>
                o
                <a href="/signup" class="primary-text-color">${i18n("login.signup")}</a></p>
                </fieldset>
            </form>
        </div>

        <div class="col-md-4">

        </div>

    </div>

</@layout.defaultLayoutMain>
