<#import "../layout/defaultLayoutMain.ftl.html" as layout>
<@layout.defaultLayoutMain title="Sign-up page">
<div class="row">
    <div class="col-md-12">
        <#if (flash.success)??>
            <div class="alert alert-dismissable alert-info" id="alertPanel">
                <button type="button" class="close" data-dismiss="alert" onclick="removeAlertPanel()">×</button>
                ${i18n("signup.success")} <br> <#noescape>${i18n("signup.goto")}</#noescape></strong>
            </div>

            <script type="application/javascript">
                function removeAlertPanel() {
                    var alertPanel = document.getElementById("alertPanel");

                    if (alertPanel != null) {
                        alertPanel.parentNode.removeChild(alertPanel)
                    }
                }
            </script>

        <#else>
            <#if (flash.error)??>
                <div class="alert alert-dismissable alert-danger" id="alertPanel">
                    <button type="button" class="close" data-dismiss="alert" onclick="removeAlertPanel()">×</button>
                    <strong>${i18n("signup.error")}</strong> ${i18n("signup.errormsg")}
                </div>

                <script type="application/javascript">
                    function removeAlertPanel() {
                        var alertPanel = document.getElementById("alertPanel");

                        if (alertPanel != null) {
                            alertPanel.parentNode.removeChild(alertPanel)
                        }
                    }
                </script>

            <#else>
                <p></p>
            </#if>
        </#if>

    </div>
    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">
            <form method="post" class="form-horizontal" action="/signup">
                <fieldset>
                    <legend>${i18n("signup.legend")}</legend>
                    <div class="form-group">
                        <div class="form-control-wrapper">
                            <label for="userName">${i18n("signup.user")}</label>
                            <input type="text" class="form-control" id="userName" name="userName" required>
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-control-wrapper">
                            <label for="userPassword">${i18n("signup.pass")}</label>
                            <input type="password" class="form-control" id="userPassword" name="userPassword"
                                   maxlength="12" required>

                            <span class="material-input"></span>
                        </div>

                        <div class="form-control-wrapper">
                            <label for="userPass2">${i18n("signup.pass2")}</label>
                            <input type="password" class="form-control" id="userPass2" name="userPass2" maxlength="12"
                                   required>
                            <span class="material-input"></span>
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="form-control-wrapper">
                            <label for="userEmail">${i18n("signup.email")}</label>
                            <input type="email" class="form-control" id="userEmail" name="userEmail" required>
                            <span class="material-input"></span>
                        </div>

                        <div class="form-control-wrapper">
                            <label for="userEmail2">${i18n("signup.email2")}</label>
                            <script type="text/javascript">
                                function checkEmailPass(emailErr, passErr) {
                                    var currentEmail = document.getElementById("userEmail");
                                    var otherEmail = document.getElementById("userEmail2");
                                    var currentPass = document.getElementById("userPassword");
                                    var otherPass = document.getElementById("userPass2");

                                    if (currentEmail.value !== otherEmail.value) {
                                        otherEmail.setCustomValidity(emailErr);
                                    } else {
                                        otherEmail.setCustomValidity("");
                                    }

                                    if (currentPass.value !== otherPass.value) {
                                        otherPass.setCustomValidity(passErr);
                                    } else {
                                        otherPass.setCustomValidity("");
                                    }

                                }
                            </script>
                            <input type="email" class="form-control" id="userEmail2" name="userEmail2" required>

                            <span class="material-input"></span>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-material-blue"
                            onclick="checkEmailPass('${i18n("signup.emailerr")}', '${i18n("signup.passerr")}')">${i18n("signup.button")}</button>

                </fieldset>
            </form>
        </div>

        <div class="col-md-4">

        </div>
    </div>

</div>

</@layout.defaultLayoutMain>
