<#import "../layout/defaultLayoutMain.ftl.html" as layout>
<@layout.defaultLayoutMain "Error. Not found.">
<div class="col-md-12">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="jumbotron" id="main-info-jumbo">
            <h1>${i18n("error.general")}</h1>

            <p>${i18n("error.404")}</p>

        </div>
    </div>

    <div class="col-md-2">

    </div>
</div>

</@layout.defaultLayoutMain>
