<#import "../layout/defaultLayoutHome.ftl.html" as layout>
    <@layout.defaultLayoutHome "Home page">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">${i18n("home.pageheader")}</h1>
        <h2> ${i18n("home.welcome")} ${userName}</h2>

    </div>
    </@layout.defaultLayoutHome>