<#import "../layout/defaultLayoutMain.ftl.html" as layout>
<@layout.defaultLayoutMain "Home page">

<div class="row">
    <div class="col-md-2">

    </div>
    <div class="jumbotron col-md-8" id="main-info-jumbo">

        <form action="/search" method="get">

            <h1>${i18n("index.searcht")}</h1>

            <div class="form-group">
                <div class="form-control-wrapper">
                    <input type="text" class="form-control" id="searchQuery" name="searchQuery"
                           autocomplete placeholder="${i18n("index.searchp")}">
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="mdi-action-search">${i18n("index.searchb")}</button>
            </div>

        </form>
    </div>

    <div class="col-md-4">

    </div>
</div>


</@layout.defaultLayoutMain>