<#import "../layout/defaultLayoutMain.ftl.html" as layout>
<@layout.defaultLayoutMain "Search results">

<div class="row">
    <div class="col-md-2">

    </div>
<div class="col-md-8">
    <#if (searchQuery)??>
        <h1>Search results for query: ${searchQuery} </h1>
    <#else>
        <h1>${flash.error} </h1>
    </#if>

<ul class="list-group">
    <#if (webPageList)??>

            <#list webPageList as webPage>
                <li class="list-group-item-text"><a onclick="onClickPageRead(this); return false;" href="${webPage.URL}">${webPage.title}</a></li>
                <li class="list-group-separator"></li>
            </#list>
    <#else>
        <li class="list-group-item-text">${i18n("search.noresults")}</li>
    </#if>

</ul>

</div>

    <div class="col-md-2">

    </div>
</div>


</@layout.defaultLayoutMain>

<script src="assets/js/search.js"></script>