<div class="footer navbar-fixed-bottom dark-primary-color" id="footer-div">
        <div class="col-md-12">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <p class="text-info text-primary-color">
                   <#noescape> ${i18n("footer.developer")} </#noescape>
                </p>
            </div>

            <div class="col-md-4">

            </div>
        </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script>
    // Fallback to loading jQuery from a local path if the CDN is unavailable
    (window.jQuery || document.write('<script src="webjars/jquery/2.1.1/jquery.min.js"><\/script>'));
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.2.2/js/ripples.min.js"></script>

<script src="assets/js/snackbar.min.js"></script>

<script>
    $(document).ready(function() {
        $.material.init();
        var ipInput = $("#userIp");

        if(ipInput.length) {
            setIpLogin(ipInput);
        }
    });
</script>