<nav class="navbar navbar-fixed-top" id="header-div">
    <div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">${i18n("header.title")}</a>
		</div>
		<div class="navbar-right">
            <#if (session.userName)??>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/user/home" id="redirect-button">
                            <button class="btn btn-default btn-raised" id="login-button">
                                <strong>${(session.userName)}</strong> home
                            </button>
                        </a>
                    </li>
                </ul>
            <#else>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/signup" id="redirect-button">
                            <button class="btn btn-default btn-raised" id="login-button">
                                signup
                            </button>
                        </a>
                    </li>
                </ul>

                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login" id="redirect-button">
                            <button class="btn btn-default btn-raised" id="login-button">
                                login
                            </button>
                        </a>
                    </li>
                </ul>


            </#if>

		</div>
    </div>
		<!--/.navbar-collapse -->
</nav>
