<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "Home page">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">${i18n("homeadmin.pageheader")}</h1>

    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="${analysisCube1}"><h3 class="panel-title">${i18n("analysis.title1")}</h3></a>
        </div>
        <div class="panel-body">
        ${i18n("analysis.body1")}
        </div>
    </div>


    <div class="panel panel-info">
        <div class="panel-heading">
            <a href="${analysisCube2}"><h3 class="panel-title">${i18n("analysis.title2")}</h3></a>
        </div>
        <div class="panel-body">
        ${i18n("analysis.body2")}
        </div>
    </div>

</div>
</@layout.defaultLayoutHomeAdmin>
