<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "Database populator engine">

<script src="../../assets/js/dbpopulator.js"></script>

<div class="col-md-5 col-md-offset-2 main">
    <h1 class="page-header">${i18n("dbpop.panelhead")}</h1>

    <form class="form-horizontal" id="\tex" action="#">
        <fieldset>
            <legend>${i18n("dbpop.legend")}</legend>
            <div class="form-group">
                <label for="dbTableName" class="col-lg-2 control-label">${i18n("dbpop.tablename")}</label>

                <div class="col-lg-10">
                    <input required type="text" class="form-control" id="dbTableName" placeholder="${i18n("dbpop.tablenamep")}">
                </div>
            </div>
            <div class="form-group">
                <label for="genreSelect" class="col-lg-2 control-label">${i18n("dbpop.genre")}</label>

                <div class="col-lg-10">
                    <select class="form-control" id="genreSelect">
                        <option>${i18n("genre.actor")}</option>
                        <option>${i18n("genre.automobile")}</option>
                        <option>${i18n("genre.film")}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="limitTuple" class="col-lg-2 control-label">${i18n("dbpop.maxtuple")}</label>

                <div class="col-lg-10">
                    <input required class="form-control" type="number" id="limitTuple" min="1" max="2000"
                           placeholder="(1-2000)">
                </div>
            </div>


            <fieldset>
                <legend>${i18n("dbpop.insattr")}</legend>

                <div class="form-group">
                    <label for="dbField" class="col-lg-2 control-label">${i18n("dbpop.dbfield")}</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="dbField" placeholder="${i18n("dbpop.dbfieldp")}">
                    </div>
                </div>

                <div class="form-group">

                    <label for="resName" class="col-lg-2 control-label">${i18n("dbpop.resid")}</label>

                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="resName"
                               placeholder="${i18n("dbpop.residp")}">
                    </div>

                </div>


                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <a onclick="insertNewAttribute()"
                           class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
                    </div>

                </div>

            </fieldset>


            <fieldset>
                <legend>${i18n("dbpop.mapattr")}</legend>

                <div class="form-group" style="height:120px;overflow: auto">
                    <table class="table table-hover " id="attributeList">
                        <thead>
                        <tr>
                            <th>${i18n("dbpop.tc1")}</th>
                            <th>${i18n("dbpop.tc2")}</th>
                        </tr>
                        </thead>
                        <tbody id="attributeList-body">
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-4">
                        <a onclick="removeSelectedAttribute()"
                           class="btn btn-primary btn-fab btn-raised mdi-content-remove"></a>

                        <a onclick="clearTable();" class="btn btn-primary btn-fab btn-raised mdi-content-clear"></a>
                    </div>

                </div>


            </fieldset>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button id="submitButton" type="submit" class="btn btn-primary" form="dbpopForm"
                            onclick="serveFormData('dbTableName','genreSelect', 'limitTuple', 'attributeList-body',
                                    {dbpop_noattr : '${i18n("dbpop.noattr")}',
                                    dbpop_conferror: '${i18n("dbpop.conferror")}',
                                    dbpop_error: '${i18n("dbpop.error")}'},
                                    '${i18n("dbpop.loading")}', '${i18n("dbpop.success")}'); return false;">
                        ${i18n("dbpop.start")}</button>
                    <button class="btn btn-default" onclick="clearForm(); clearTable();">${i18n("dbpop.cancel")}</button>
                </div>
            </div>

    </form>
</div>

</@layout.defaultLayoutHomeAdmin>