<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "Home page">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">${i18n("homeadmin.pageheader")}</h1>
    <h2> ${i18n("homeadmin.welcome")} <strong>${userName}</strong></h2>

</div>
</@layout.defaultLayoutHomeAdmin>