<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "Database populator engine">

<script src="../../assets/js/insertPage.js"></script>

<div class="col-md-5 col-md-offset-2 main">
    <h1 class="page-header">${i18n("newpage.pageheader")}</h1>

    <form class="form-horizontal" action="#" id="insPageForm">
        <fieldset>
            <div class="form-group">
                <label for="dbTableName" class="col-lg-2 control-label">${i18n("newpage.url")}</label>

                <div class="col-lg-10">
                    <input pattern="https://it.wikipedia.org/wiki/.+|https://it.wikipedia.org/wiki/.+"
                           required type="text" class="form-control" id="webpageURL"
                           placeholder="${i18n("newpage.urlp")}">
                </div>
            </div>

        </fieldset>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button id="submitButton" type="submit" class="btn btn-primary" form="insPageForm"
                        onclick="insertNewPage('${i18n("newpage.invalidurl")}',
                                '${i18n("newpage.load")}',
                                '${i18n("newpage.error")}'); return false;">
                ${i18n("newpage.insert")}</button>

            </div>
        </div>

    </form>
</div>

</@layout.defaultLayoutHomeAdmin>