<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "SessionsPage">
<script src="assets/js/sessions.js"></script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">${i18n("sessions.pageheader")}</h1>

    <#if (flash.error)??>
        <div class="alert alert-dismissable alert-danger" id="alertPanel">
            <button type="button" class="close" data-dismiss="alert" onclick="removeAlertPanel()">×</button>
            <strong>${flash.error}</strong>
        </div>

        <script type="application/javascript">
            function removeAlertPanel() {
                var alertPanel = document.getElementById("alertPanel")

                if (alertPanel != null) {
                    alertPanel.parentNode.removeChild(alertPanel)
                }
            }
        </script>

    <#else>

        <#if (sessionsList)??>
            <div class="list-group overflow-y-scroll" style="max-height: 500px;">
                <#list sessionsList as currSession>
                    <div id="${currSession.identifier}" class="list-group-item">
                        <div class="row-action-primary">
                            <!--<i class="mdi-action-search"></i>-->
                            <form method="POST" action="/user/sessions/${currSession.identifier}">
                                <button type="submit" class="mdi-action-search"></button>
                            </form>
                        </div>
                        <div class="row-content">
                            <div class="action-secondary"><i class="mdi-material-info"></i></div>
                            <h4 class="list-group-item-heading">${i18n("sessions.tile")}: ${currSession.identifier}</h4>

                            <p class="list-group-item-text">${currSession.searchTerm}</p>
                        </div>
                    </div>
                    <div class="list-group-separator"></div>
                </#list>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2">
                        <form action = "/user/sessions/delete" method="post">
                            <button type="submit"
                                    class="btn btn-primary btn-fab btn-raised mdi-content-clear"></button>
                        </form>
                    </div>

                </div>
            </div>
        <#else>
            <p>

            <h2>${i18n("sessions.noresults")}</h2></p>
        </#if>



    </#if>

</div>

</@layout.defaultLayoutHomeAdmin>
