<#import "../layout/defaultLayoutHomeAdmin.ftl.html" as layout>
<@layout.defaultLayoutHomeAdmin "SessionsPage">
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">${i18n("session.pageheader")}</h1>

    <#if (flash.error)??>
        <div class="alert alert-dismissable alert-danger" id="alertPanel">
            <button type="button" class="close" data-dismiss="alert" onclick="removeAlertPanel()">×</button>
            <strong>${flash.error}</strong>
        </div>

        <script type="application/javascript">
            function removeAlertPanel() {
                var alertPanel = document.getElementById("alertPanel")

                if (alertPanel != null) {
                    alertPanel.parentNode.removeChild(alertPanel)
                }
            }
        </script>

    <#else>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">${i18n("session.title")} <strong>${identifier}</strong></h3>
            </div>
            <div class="panel-body">
                <strong>${i18n("session.searchterm")}</strong>: ${searchTerm} <br>
                <strong>${i18n("session.start")}</strong>: ${startSession} <br>
                <strong>${i18n("session.end")}</strong>: ${endSession} <br>
                <strong>${i18n("session.day")}</strong>: ${day} <br>
                <strong>${i18n("session.month")}</strong>: ${month} <br>
                <strong>${i18n("session.year")}</strong>: ${year} <br>
            </div>
        </div>



        <legend>${i18n("session.webpage.legend")}</legend>

        <div class="form-group" style="height:120px;overflow: auto">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>${i18n("session.webpage.title")}</th>
                    <th>${i18n("session.webpage.url")}</th>
                </tr>
                </thead>
                <tbody>
                    <#if (readPagesList)??>
                        <#list readPagesList as page>
                        <tr>
                            <td>
                            ${page.title}
                            </td>

                            <td>
                                <a href="${page.URL}" class="mdi-social-public"></a>
                            </td>
                        </tr>
                        </#list>
                    </#if>
                </tbody>
            </table>
        </div>


    </#if>

</div>

</@layout.defaultLayoutHomeAdmin>
